html body{
    margin: 0px;
    color: #604a40;
    font-size: 18px;
    position: relative;
    letter-spacing: 3px;
    /* font-family: '微軟正黑體'; */
    /* font-family: 'Noto Sans TC', '微軟正黑體', sans-serif; */
}

/* 只有l ogo、menu-open 不一樣 */

.logo{
    width: 30px;
    height: 30px;
    background: url('../img/share/icon-brown.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    top: 30px;
    left: 30px;
}

.menu-open{
    width: 20px;
    height: 20px;
    background: url('../img/share/menu-brown.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    top: 30px;
    right: 50px;
    cursor: pointer;
}

/* 只有l ogo、menu-open 不一樣 */

.main{
    width: 100vw;
    height: 100vh;
    background: url('../img/share/marble.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-main{
    display: flex;
    max-width: 800px;
    width: 80%;
}

.caption{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-eng{

}

.title-word{

}

.back{

}

.rotate{
    width: 70%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.unit{
    /* width: 150px; */
}

.unit-img{

}

.unit-num{

}

.unit-word{
    
}