html body{
    margin: 0px;
    color: #604a40;
    font-size: 18px;
    position: relative;
    letter-spacing: 3px;
    /* font-family: '微軟正黑體'; */
    /* font-family: 'Noto Sans TC', '微軟正黑體', sans-serif; */
}

a{
    color: #604a40 ;
}

/* 只有l ogo、menu-open 不一樣 */

.logo{
    width: 30px;
    height: 30px;
    background: url('../img/share/icon-white.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    top: 30px;
    left: 30px;
}

.menu-open{
    width: 20px;
    height: 20px;
    background: url('../img/share/menu-white.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    top: 30px;
    right: 50px;
    cursor: pointer;
}

/* 只有l ogo、menu-open 不一樣 */

/* 右側也會不同 */

.left-float{
    font-size: 0.5em;
    position: absolute;
    left: 40px;
    top: 30%;
    writing-mode: vertical-rl;
    color: white;
}

.right-float{
    position: absolute;
    right: 52px;
    top: 37%;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-fb{
    width: 20px;
    height: 20px;
    background: url('../img/share/fb-white.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}

.right-ig{
    width: 20px;
    height: 20px;
    background: url('../img/share/ig-white.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}

.right-line{
    width: 20px;
    height: 20px;
    background: url('../img/share/line-white.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}

/* 右側也會不同 */

.main-img{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}